In [45]:
import pandas as pd

In [46]:
s = pd.Series(data=[100, 'a', {'dic1': 5}],
             index=pd.Index(['id1', 20, 'third'], name='my_idx'),
             dtype='object',
             name='my_name')

In [47]:
s2 = pd.Series([100,'a',{'dic1':5}],['Pxxxx',111,'ssss'])

In [48]:
s2.shape[0]

3

In [49]:
s2.size

3

In [50]:
d = {"英语": pd.Series([1.0,2.0,3.0],index=["a","b","c"]),
    "语文": pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"]),
}  
df = pd.DataFrame(d)

In [53]:
books = {
    '作者':pd.Series(['余华','残雪','莫言']),
    '作品':pd.Series(['《活着》','《暗夜》','《红高粱》']),
}
df2 = pd.DataFrame(books)

In [54]:
b = [1,2,3]

In [56]:
# 数据框的行索引
i = df2.index.values

In [57]:
# 获取df值
df2['作品']

0     《活着》
1     《暗夜》
2    《红高粱》
Name: 作品, dtype: object

In [58]:
df2.作者

0    余华
1    残雪
2    莫言
Name: 作者, dtype: object

In [59]:
df2[['作品','作者']]

      作品  作者
0   《活着》  余华
1   《暗夜》  残雪
2  《红高粱》  莫言